{%- macro Date(date) -%}
  {%- if date is string -%}
    {{ date }}
  {%- else -%}
    {{ date.start }} -- {{ date.end }}
  {%- endif -%}
{%- endmacro -%}

{%- macro Link(link) -%}
  #link("{{ link }}")[{{ link.removeprefix("https://").removeprefix("http://") }}]
{%- endmacro -%}

#set text(
  size: 11pt,
  font: "Roboto",
  weight: "light",
)

#show heading.where(level: 1): set text(
  size: 18pt,
)

#show heading.where(level: 2): set text(
  size: 11pt,
)

#show link: underline

#set page(
  paper: "us-letter",
  margin: (x: 0.5in, y: 0.5in),
  footer: context [
    #set text(size: 10pt, fill: luma(100))
    #set align(center)
    Made with #sym.suit.heart.filled using {{ Link("https://github.com/object-Object/resume") }}.
  ],
)

#set par(
  justify: false,
  spacing: 1em,
)

#let chiline() = {v(-3pt); line(length: 100%, stroke: 0.5pt); v(-5pt)}

#let contact_sep = " " + [#sym.bullet] + " "

#let tabstop(width, body) = context {
  let size = measure(body)
  [#body #h(width - size.width)]
}

#align(center)[
  = {{ resume.contact.name }}

  {{ resume.contact.phone }}
  #contact_sep {{ resume.contact.email|replace("@", "\\@") }}
  {%- for link in resume.contact.links %}
    #contact_sep {{ Link(link) }}
  {%- endfor %}
]

== EMPLOYMENT
#chiline()

{% for employment in resume.employment %}
  *{{ employment.title }}* \@ {{ employment.company }} #h(1fr) {{ Date(employment.date) }} \
  {%- for line in employment.description %}
    - {{ line }}
  {%- endfor %}
{% endfor %}

== EDUCATION
#chiline()

{% for education in resume.education %}
  *{{ education.degree }}* {{ "(Minor in "~education.minor~")" if education.minor }} #h(1fr) {{ Date(education.date) }} \
  {{ education.school }} \
  // TODO: calculate spacing somehow instead of hardcoding it
  {%- for key, value in education.description.items() %}
    - #tabstop(8.3em)[*{{ key }}:*] {{ value }}
  {%- endfor %}
{% endfor %}

== PROJECTS
#chiline()

{% for project in resume.projects %}
  *{{ project.name }}* {{ "\@ "~project.location if project.location }} #h(1fr) {{ Date(project.date) }} \
  {{ project.summary }} \
  // TODO: this will look weird with more than two links
  Link{{ "s" if project.links|length > 1 }}: {% for link in project.links -%}
    {%- if not loop.first %} & {% endif -%}
    {{ Link(link) }}
  {%- endfor %} \
  {%- for line in project.description %}
    - {{ line }}
  {%- endfor %}
{% endfor %}

== SKILLS
#chiline()

{%- for key, value in resume.skills.items() %}
  - #tabstop(4.9em)[*{{ key }}:*] {{ value|replace("#", "\#") }}
{%- endfor %}
